<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>User List</title>
    </head>

    <body>
        <h2>사용자 리스트</h2>
        <div>
            <ul>
                <% for (let i = 0; i < result.length; i++) {
                    const userId = result[i]._doc.id;
                    const userName = result[i]._doc.name; %>
                <li>#<%= i %> - 아이디 : <%= userId %>, 이름 : <%= userName %></li>
                <% } %>
            </ul>
        </div>
        <br><br>
        <a href="/public/userlist.html">다시 요청하기</a>
    </body>
</html>