doctype html
html
    head
        meta(charset='utf8')
        title User List
    body
        h1 사용자 리스트
        div
            ul
                - for (let i = 0; i < result.length; i++) {
                - const currentId = result[i]._doc.id;
                - const currentName = result[i]._doc.name;
                li #{i} - 아이디 : #{currentId}, 이름 : #{currentName}
                - }
            br
            br
            a(href='/public/userlist.html') 다시 요청하기